{% extends 'base.html.twig' %}
{% block body %}
<h1 align="center"><strong>Editorial Laboratorio Educativo</strong></h1>
<!--<img src="{{ asset('bundles/public/images/Editorial/Logotipos/12.png')}}" alt="">-->
<img src="{{ asset('bundles/public/images/Editorial/Logotipos/portada.png')}}">
{% endblock %}